*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.card {
  --width: 5em;
  --height: calc(var(--width) * 1.4);
  width: var(--width);
  height: var(--height);
  background-color: white;
  border: 1px solid black;
  border-radius: 0.25em;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  align-items: center;
  position: relative;
}

[data-suit='hearts'].card,
[data-suit='diamonds'].card {
  color: red;
}

[data-suit='spades'].card,
[data-suit='clubs'].card {
  color: black;
}

.pip {
  grid-row-end: span 2;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

[data-suit='hearts'] .pip {
  background-image: url('./cards/suits/heart.svg');
}

[data-suit='diamonds'] .pip {
  background-image: url('./cards/suits/diamond.svg');
}

[data-suit='spades'] .pip {
  background-image: url('./cards/suits/spade.svg');
}

[data-suit='clubs'] .pip {
  background-image: url('./cards/suits/club.svg');
}

.corner-number {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: -0.1em;
  font-size: 0.8em;
}

.corner-number.top {
  top: 0.25em;
  left: 0.25em;
}

.corner-number.bottom {
  bottom: 0.25em;
  right: 0.25em;
  transform: rotate(180deg);
}

.corner-number::after {
  line-height: 0;
  display: block;
  width: 0.5em;
}

[data-suit='hearts'] .corner-number::after {
  content: url('./cards/suits/heart.svg');
}

[data-suit='spades'] .corner-number::after {
  content: url('./cards/suits/spade.svg');
}

[data-suit='clubs'] .corner-number::after {
  content: url('./cards/suits/club.svg');
}

[data-suit='diamonds'] .corner-number::after {
  content: url('./cards/suits/diamond.svg');
}

[data-value='J'][data-suit='diamonds'] .pip,
[data-value='J'][data-suit='hearts'] .pip {
  background-image: url('./cards/suits/jack-red.svg');
}
[data-value='J'][data-suit='spades'] .pip,
[data-value='J'][data-suit='clubs'] .pip {
  background-image: url('./cards/suits/jack-black.svg');
}

[data-value='Q'][data-suit='diamonds'] .pip,
[data-value='Q'][data-suit='hearts'] .pip {
  background-image: url('./cards/suits/queen-red.svg');
}
[data-value='Q'][data-suit='spades'] .pip,
[data-value='Q'][data-suit='clubs'] .pip {
  background-image: url('./cards/suits/queen-black.svg');
}

[data-value='K'][data-suit='diamonds'] .pip,
[data-value='K'][data-suit='hearts'] .pip {
  background-image: url('./cards/suits/king-red.svg');
}
[data-value='K'][data-suit='spades'] .pip,
[data-value='K'][data-suit='clubs'] .pip {
  background-image: url('./cards/suits/king-black.svg');
}

[data-value='A'] .pip,
[data-value='J'] .pip,
[data-value='Q'] .pip,
[data-value='K'] .pip {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: span 6;
  grid-column-end: span 3;
}

[data-value='2'] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 2;
}

[data-value='2'] .pip:nth-child(2) {
  grid-row-start: 7;
  grid-column-start: 2;
  transform: rotate(180deg);
}

[data-value='3'] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 2;
}

[data-value='3'] .pip:nth-child(2) {
  grid-row-start: 4;
  grid-column-start: 2;
}

[data-value='3'] .pip:nth-child(3) {
  grid-row-start: 7;
  grid-column-start: 2;
  transform: rotate(180deg);
}

[data-value='4'] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 1;
}

[data-value='4'] .pip:nth-child(2) {
  grid-row-start: 1;
  grid-column-start: 3;
}

[data-value='4'] .pip:nth-child(3) {
  grid-row-start: 7;
  grid-column-start: 1;
  transform: rotate(180deg);
}

[data-value='4'] .pip:nth-child(4) {
  grid-row-start: 7;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-value='5'] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 1;
}

[data-value='5'] .pip:nth-child(2) {
  grid-row-start: 1;
  grid-column-start: 3;
}

[data-value='5'] .pip:nth-child(3) {
  grid-row-start: 7;
  grid-column-start: 1;
  transform: rotate(180deg);
}

[data-value='5'] .pip:nth-child(4) {
  grid-row-start: 7;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-value='5'] .pip:nth-child(5) {
  grid-row-start: 4;
  grid-column-start: 2;
}

[data-value='6'] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 1;
}

[data-value='6'] .pip:nth-child(2) {
  grid-row-start: 1;
  grid-column-start: 3;
}

[data-value='6'] .pip:nth-child(3) {
  grid-row-start: 7;
  grid-column-start: 1;
  transform: rotate(180deg);
}

[data-value='6'] .pip:nth-child(4) {
  grid-row-start: 7;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-value='6'] .pip:nth-child(5) {
  grid-row-start: 4;
  grid-column-start: 1;
}

[data-value='6'] .pip:nth-child(6) {
  grid-row-start: 4;
  grid-column-start: 3;
}

[data-value='7'] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 1;
}

[data-value='7'] .pip:nth-child(2) {
  grid-row-start: 1;
  grid-column-start: 3;
}

[data-value='7'] .pip:nth-child(3) {
  grid-row-start: 7;
  grid-column-start: 1;
  transform: rotate(180deg);
}

[data-value='7'] .pip:nth-child(4) {
  grid-row-start: 7;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-value='7'] .pip:nth-child(5) {
  grid-row-start: 4;
  grid-column-start: 1;
}

[data-value='7'] .pip:nth-child(6) {
  grid-row-start: 4;
  grid-column-start: 3;
}

[data-value='7'] .pip:nth-child(7) {
  grid-row-start: 2;
  grid-column-start: 2;
}

[data-value='8'] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 1;
}

[data-value='8'] .pip:nth-child(2) {
  grid-row-start: 1;
  grid-column-start: 3;
}

[data-value='8'] .pip:nth-child(3) {
  grid-row-start: 7;
  grid-column-start: 1;
  transform: rotate(180deg);
}

[data-value='8'] .pip:nth-child(4) {
  grid-row-start: 7;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-value='8'] .pip:nth-child(5) {
  grid-row-start: 4;
  grid-column-start: 1;
}

[data-value='8'] .pip:nth-child(6) {
  grid-row-start: 4;
  grid-column-start: 3;
}

[data-value='8'] .pip:nth-child(7) {
  grid-row-start: 2;
  grid-column-start: 2;
}

[data-value='8'] .pip:nth-child(8) {
  grid-row-start: 6;
  grid-column-start: 2;
  transform: rotate(180deg);
}

[data-value='9'] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 1;
}

[data-value='9'] .pip:nth-child(2) {
  grid-row-start: 3;
  grid-column-start: 1;
}

[data-value='9'] .pip:nth-child(3) {
  grid-row-start: 5;
  grid-column-start: 1;
  transform: rotate(180deg);
}

[data-value='9'] .pip:nth-child(4) {
  grid-row-start: 7;
  grid-column-start: 1;
  transform: rotate(180deg);
}

[data-value='9'] .pip:nth-child(5) {
  grid-row-start: 1;
  grid-column-start: 3;
}

[data-value='9'] .pip:nth-child(6) {
  grid-row-start: 3;
  grid-column-start: 3;
}

[data-value='9'] .pip:nth-child(7) {
  grid-row-start: 5;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-value='9'] .pip:nth-child(8) {
  grid-row-start: 7;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-value='9'] .pip:nth-child(9) {
  grid-row-start: 4;
  grid-column-start: 2;
}

[data-value='10'] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 1;
}

[data-value='10'] .pip:nth-child(2) {
  grid-row-start: 3;
  grid-column-start: 1;
}

[data-value='10'] .pip:nth-child(3) {
  grid-row-start: 5;
  grid-column-start: 1;
  transform: rotate(180deg);
}

[data-value='10'] .pip:nth-child(4) {
  grid-row-start: 7;
  grid-column-start: 1;
  transform: rotate(180deg);
}

[data-value='10'] .pip:nth-child(5) {
  grid-row-start: 1;
  grid-column-start: 3;
}

[data-value='10'] .pip:nth-child(6) {
  grid-row-start: 3;
  grid-column-start: 3;
}

[data-value='10'] .pip:nth-child(7) {
  grid-row-start: 5;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-value='10'] .pip:nth-child(8) {
  grid-row-start: 7;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-value='10'] .pip:nth-child(9) {
  grid-row-start: 2;
  grid-column-start: 2;
}

[data-value='10'] .pip:nth-child(10) {
  grid-row-start: 6;
  grid-column-start: 2;
  transform: rotate(180deg);
}
