* {
  box-sizing: border-box;
}

html {
  background: url("https://media.istockphoto.com/id/467583755/photo/green-poker-table-felt-background.jpg?s=612x612&w=0&k=20&c=fjvSNMeF-fMGBncW5iDTQye8U14Thzp_bIodAzDjf88=");
  width: 100%;
  height: 100%;
  display: flex;
  background-size: 100%;
  background-position: center;
  z-index: -1;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.scores {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  /* margin: 10px; */
}

.board {
  background-color: white;
  filter: blur(30px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 60%;
  width: 90%;
  border: solid black;
}

.loading-text {
  position: absolute;
  font-size: 50px;
  color: #000;
  z-index: 2;
}

.game-countainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90%;
  width: 95%;
  border: solid black;
  margin: auto;
}

.deck-one-container {
  border: solid black;
  height: 90%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deck-two-container {
  border: solid black;
  height: 90%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-one-container {
  border: solid black;
  height: 90%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-two-container {
  border: solid black;
  height: 90%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
