*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: url('https://cdn.pixabay.com/photo/2020/07/27/20/44/green-5443435_1280.jpg');
  width: 100%;
  height: 100%;
  display: flex;
  background-size: 100%;
  background-position: center;
  z-index: -1;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h1 {
  background-color: #ddd;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: solid 2px white;
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
}

.scores {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
  margin: 0 60px;
}
.player,
.cpu {
  background-color: #ddd;
  border-radius: 15px;
  padding: 5px;
}

.board {
  filter: blur(30px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70%;
  width: 90%;
  flex-wrap: wrap;
  margin: 10px;
  padding: 5px;
}

.loading-text {
  position: absolute;
  font-size: 50px;
  color: #000;
  z-index: 2;
}

.game-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90%;
  width: 95%;
  margin: auto;
  flex-wrap: wrap;
}

.deck,
.playerOne,
.playerTwo {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: solid white;
  margin: 5px;
  padding: 15px;
}

#playerDeck,
#cpuDeck {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 30px;
  font: bold;
}

.card {
  --width: 5em;
  --height: calc(var(--width) * 1.4);
  width: var(--width);
  height: var(--height);
  background-color: white;
  border: 1px solid black;
  border-radius: 0.75em;
  padding: 0.5em;
  display: grid;
  align-items: center;
  margin: 5px;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  position: relative;
}

.deck-one-container {
  --width: 5em;
  --height: calc(var(--width) * 1.4);
  width: var(--width);
  height: var(--height);
  display: flex;
  justify-content: space-cente;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgb(167, 66, 66);
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.4);
}

.deck-two-container {
  --width: 5em;
  --height: calc(var(--width) * 1.4);
  width: var(--width);
  height: var(--height);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgb(167, 66, 66);
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.4);
}

.card-line {
  margin: 4px;
  display: flex;
  border-radius: 4px;
  width: 90%;
  height: 92%;
  border: solid white;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px 0;
}

.button-next-round {
  height: 60px;
  width: 100px;
  display: inline-block;
  font-size: 20px;
  background-color: #3f9c11;
  color: #fff;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.button-next-round:hover {
  background-color: #4fdd20;
  color: #000;
}

.button-next-round:focus {
  outline: none;
}

.button-start {
  height: 60px;
  width: 100px;
  display: inline-block;
  font-size: 20px;
  background-color: #102ea6;
  color: #fff;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.button-start:hover {
  background-color: #1b7ce3;
  color: #000;
}

.button-start:focus {
  outline: none;
}

.button-reset {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #8d1717;
  color: #fff;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.button-reset:hover {
  background-color: #ff0202;
  color: #000;
}

.button-reset:focus {
  outline: none;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .button-next-round {
    height: 60px;
    width: 80px;
  }

  .game-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 480px) {
  .deck-one-container {
    height: 70px;
    width: 40px;
  }

  .deck-two-container {
    height: 70px;
    width: 40px;
  }

  .button-next-round {
    height: 30px;
    width: 50px;
    font-size: 12px;
    flex-direction: column;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
  }

  .button-reset {
    height: 35px;
    width: 60px;
    font-size: 12px;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
  }

  .game-container {
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    flex-wrap: nowrap;
  }
}

.footer {
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  display: flex;
}
